In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [91]:
df = pd.read_csv("AB_NYC_2019.csv")
print(df.shape)
print(df.info())

(48895, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
id                                48895 non-null int64
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

In [121]:
# Hence, we see that there are 16 columns and 48895 rows
# Missing values are there in columns name, host_name, last_review, reviews_per_month. 
# ID, name and host_name column has no affect on Price. Hence can be removed
df1 = df.drop(['id', 'name', 'host_name'],axis=1)
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 13 columns):
host_id                           48895 non-null int64
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(6), object(4)
memory usage: 4.8+ MB
None

In [122]:
# now we have null values in last_review and reviews_per_month
df1.isnull().sum()

host_id                               0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [123]:
# number of null values in last_review and reviews_per_months is same. hence there seems to be a relation. However, we cannot imput 
# last_review but we can for reviews_per_month
df1.head(10)

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,7322,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,7356,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,8967,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,7490,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,7549,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

In [124]:
df1.loc[df1['reviews_per_month'].isnull(),'reviews_per_month']=0
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 13 columns):
host_id                           48895 non-null int64
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 48895 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(6), object(4)
memory usage: 4.8+ MB

In [125]:
# remove last_review as we have dealt with reviews_per_month by imputing missing values with 0
df1 = df1.drop('last_review',axis = 1)
df1.head()

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
3,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0

In [126]:
# analyse the statistics of price group by neighbourhood. we observe there is minimum price as 0
df1.groupby('neighbourhood_group')['price'].describe()

,count,mean,std,min,25%,50%,75%,max
neighbourhood_group,,,,,,,,
Bronx,1091.0,87.496792,106.709349,0.0,45.0,65.0,99.0,2500.0
Brooklyn,20104.0,124.383207,186.873538,0.0,60.0,90.0,150.0,10000.0
Manhattan,21661.0,196.875814,291.383183,0.0,95.0,150.0,220.0,10000.0
Queens,5666.0,99.517649,167.102155,10.0,50.0,75.0,110.0,10000.0
Staten Island,373.0,114.812332,277.620403,13.0,50.0,75.0,110.0,5000.0

In [127]:
# analyse the statistics of minimum nights group by neighbourhood
df1.groupby('neighbourhood_group')['minimum_nights'].describe()

                       count      mean        std  min  25%  50%  75%     max
neighbourhood_group
Bronx                 1091.0  4.560953  15.631792  1.0  1.0  2.0  3.0   365.0
Brooklyn             20104.0  6.056556  17.632726  1.0  2.0  3.0  5.0   999.0
Manhattan            21661.0  8.579151  24.050857  1.0  1.0  3.0  6.0  1250.0
Queens                5666.0  5.181433  15.028725  1.0  1.0  2.0  3.0   500.0
Staten Island          373.0  4.831099  19.727605  1.0  1.0  2.0  3.0   365.0

In [129]:
# As price cannot be 0 and minimum nights cannot be more than 365; hence we remove these rows
df1 = df1[df1['price']>0]
df1 = df1[df1['minimum_nights']<=365]
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48870 entries, 0 to 48894
Data columns (total 12 columns):
host_id                           48870 non-null int64
neighbourhood_group               48870 non-null object
neighbourhood                     48870 non-null object
latitude                          48870 non-null float64
longitude                         48870 non-null float64
room_type                         48870 non-null object
price                             48870 non-null int64
minimum_nights                    48870 non-null int64
number_of_reviews                 48870 non-null int64
reviews_per_month                 48870 non-null float64
calculated_host_listings_count    48870 non-null int64
availability_365                  48870 non-null int64
dtypes: float64(3), int64(6), object(3)
memory usage: 4.8+ MB

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
3,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0

In [130]:
# analyse the statistics of availability_365 as per neighbourhood
df1.groupby('neighbourhood_group')['availability_365'].describe()

,count,mean,std,min,25%,50%,75%,max
neighbourhood_group,,,,,,,,
Bronx,1090.0,165.794495,135.304079,0.0,37.0,148.0,313.75,365.0
Brooklyn,20089.0,100.159739,126.243695,0.0,0.0,28.0,188.00,365.0
Manhattan,21654.0,111.929667,132.641048,0.0,0.0,36.0,230.00,365.0
Queens,5664.0,144.422493,135.528910,0.0,2.0,98.0,286.00,365.0
Staten Island,373.0,199.678284,131.852000,0.0,78.0,219.0,333.00,365.0

In [131]:
# now data is ready for prediction. Calculate pairwise correlation matrix to see how 
#different variables are related to price
corr = df1.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

In [132]:
# one hot encoding for categorical variables using get dummies
df1 = pd.get_dummies(df1,prefix_sep='_', drop_first=True)
df1.head()

,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group_Brooklyn,...,neighbourhood_Williamsbridge,neighbourhood_Williamsburg,neighbourhood_Willowbrook,neighbourhood_Windsor Terrace,neighbourhood_Woodhaven,neighbourhood_Woodlawn,neighbourhood_Woodrow,neighbourhood_Woodside,room_type_Private room,room_type_Shared room
0,2787,40.64749,-73.97237,149,1,9,0.21,6,365,1,...,0,0,0,0,0,0,0,0,1,0
1,2845,40.75362,-73.98377,225,1,45,0.38,2,355,0,...,0,0,0,0,0,0,0,0,0,0
2,4632,40.80902,-73.94190,150,3,0,0.00,1,365,0,...,0,0,0,0,0,0,0,0,1,0
3,4869,40.68514,-73.95976,89,1,270,4.64,1,194,1,...,0,0,0,0,0,0,0,0,0,0
4,7192,40.79851,-73.94399,80,10,9,0.10,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
# VIF calculation
# pd.DataFrame(np.linalg.inv(df1.corr().values), index = corr.index, columns=corr.columns)

pd.DataFrame(np.linalg.inv(corr.values), index = corr.index, columns=corr.columns)

,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_id,1.269276,-0.018199,-0.115148,-0.012748,0.050964,0.524971,-0.523048,-0.152586,-0.226645
latitude,-0.018199,1.013056,-0.102948,-0.048133,-0.033867,-0.012066,0.029345,-0.028241,0.036413
longitude,-0.115148,-0.102948,1.090435,0.162310,0.054185,0.018598,-0.098143,0.148636,-0.110921
price,-0.012748,-0.048133,0.162310,1.038969,-0.017230,0.040106,0.021986,-0.008342,-0.102238
minimum_nights,0.050964,-0.033867,0.054185,-0.017230,1.084169,0.048498,0.139856,-0.120683,-0.196226
number_of_reviews,0.524971,-0.012066,0.018598,0.040106,0.048498,1.778933,-1.108057,0.044738,-0.254619
reviews_per_month,-0.523048,0.029345,-0.098143,0.021986,0.139856,-1.108057,1.806041,0.056984,-0.028035
calculated_host_listings_count,-0.152586,-0.028241,0.148636,-0.008342,-0.120683,0.044738,0.056984,1.119305,-0.230878
availability_365,-0.226645,0.036413,-0.110921,-0.102238,-0.196226,-0.254619,-0.028035,-0.230878,1.196992

In [134]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X = df1.drop('price', axis=1)
print(X.head())

Price = df1['price']
#Features_train, Features_test, Price_train, Price_test = train_test_split(Features, Price, test_size=0.30, random_state=42)
X_train, X_test, Price_train, Price_test = train_test_split(X, Price, test_size=0.3, random_state=42)

   host_id  latitude  longitude  minimum_nights  number_of_reviews  \
0     2787  40.64749  -73.97237               1                  9
1     2845  40.75362  -73.98377               1                 45
2     4632  40.80902  -73.94190               3                  0
3     4869  40.68514  -73.95976               1                270
4     7192  40.79851  -73.94399              10                  9

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.21                               6               365
1               0.38                               2               355
2               0.00                               1               365
3               4.64                               1               194
4               0.10                               1                 0

   neighbourhood_group_Brooklyn  neighbourhood_group_Manhattan  \
0                             1                              0
1                             0                              1
2                             0                              1
3                             1                              0
4                             0                              1

           ...            neighbourhood_Williamsbridge  \
0          ...                                       0
1          ...                                       0
2          ...                                       0
3          ...                                       0
4          ...                                       0

   neighbourhood_Williamsburg  neighbourhood_Willowbrook  \
0                           0                          0
1                           0                          0
2                           0                          0
3                           0                          0
4                           0                          0

   neighbourhood_Windsor Terrace  neighbourhood_Woodhaven  \
0                              0                        0
1                              0                        0
2                              0                        0
3                              0                        0
4                              0                        0

   neighbourhood_Woodlawn  neighbourhood_Woodrow  neighbourhood_Woodside  \
0                       0                      0                       0
1                       0                      0                       0
2                       0                      0                       0
3                       0                      0                       0
4                       0                      0                       0

   room_type_Private room  room_type_Shared room
0                       1                      0
1                       0                      0
2                       1                      0
3                       0                      0
4                       0                      0

[5 rows x 234 columns]

In [135]:
print("X", X.shape)
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)

X (48870, 234)
X_train: (34209, 234)
X_test: (14661, 234)

In [136]:
from sklearn.linear_model import LinearRegression

print("\nLINEAR (subset)")
rgr = LinearRegression(normalize=True)
rgr.fit(X_train, Price_train)
print("model:", rgr)
print("coeffs:", rgr.coef_)
print("intercept:", rgr.intercept_)

#Evaluate the predictions of the model
Price_predictions_regression = rgr.predict(X_test)
print('R squared:', rgr.score(X_test, Price_test))
print(Price_predictions_regression[:10])
print(Price_test[:10])

Price_predictions_regression

LINEAR (subset)
model: LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)
coeffs: [ 8.76508627e-08 -8.65698229e+01 -8.98307383e+02 -2.83912192e-01
 -1.73805458e-01 -3.83398659e+00 -2.25655720e-01  2.00095977e-01
  6.07057578e+14 -1.19041251e+15 -1.59298434e+15  3.07492672e+15
 -3.07492672e+15 -3.07492672e+15  1.59298434e+15  1.59298434e+15
 -6.07057578e+14  1.19041251e+15 -6.07057578e+14  1.59298434e+15
 -3.07492672e+15 -1.72573566e+01  1.59298434e+15  1.59298434e+15
 -6.07057578e+14  1.59298434e+15  1.59298434e+15 -2.57303856e+01
 -6.07057578e+14 -6.07057578e+14 -6.07057578e+14 -6.07057578e+14
  1.59298434e+15  1.59298434e+15 -6.07057578e+14 -5.85588996e+01
 -6.07057578e+14 -6.07057578e+14 -3.07492672e+15 -6.07057578e+14
  1.59298434e+15 -6.07057578e+14 -6.07057578e+14 -4.07263387e+01
 -3.07492672e+15  1.19041251e+15  1.19041251e+15  2.10322207e+02
  1.19041251e+15 -4.78658489e+01  7.78022175e+00 -3.07492672e+15
 -6.07057578e+14  3.15004604e+01 -6.07057578e+14  1.59298434e+15
 -6.07057578e+14 -3.07492672e+15 -7.65890366e+01 -4.73734225e+01
 -6.07057578e+14  1.59298434e+15 -6.07057578e+14 -6.07057578e+14
 -6.07057578e+14  1.59298434e+15 -3.07492672e+15  1.59298434e+15
 -6.07057578e+14 -6.07057578e+14  1.59298434e+15 -6.07057578e+14
  1.19041251e+15  1.05102876e+01 -6.07057578e+14  1.19041251e+15
  2.24556253e+01 -1.99845631e+01  1.59298434e+15  1.59298434e+15
 -1.87458959e+13 -3.07492672e+15  1.59298434e+15 -3.27517126e+01
  1.19041251e+15 -6.07057578e+14  1.19041251e+15 -6.07057578e+14
  1.59298434e+15 -2.73688902e+01  1.59298434e+15 -6.07057578e+14
 -6.07057578e+14 -3.07492672e+15  1.59298434e+15  1.59298434e+15
 -6.07057578e+14  1.19041251e+15 -3.07492672e+15 -3.07492672e+15
 -6.07057578e+14 -3.07492672e+15 -6.07057578e+14  1.19041251e+15
 -3.07492672e+15  1.19041251e+15  1.19041251e+15 -7.35142544e+01
  1.59298434e+15  1.59298434e+15  1.59298434e+15 -3.07492672e+15
 -3.07492672e+15 -5.31290444e+01  1.19041251e+15  1.59298434e+15
  1.59298434e+15  1.59298434e+15  1.59298434e+15 -6.07057578e+14
  1.59298434e+15  1.59298434e+15 -3.57520941e+01  1.19041251e+15
  1.59298434e+15 -3.07492672e+15  1.19041251e+15  1.59298434e+15
  1.59298434e+15 -3.74238022e+01  1.19041251e+15 -6.07057578e+14
  1.19041251e+15 -3.07492672e+15  1.59298434e+15 -8.30204789e+01
  1.59298434e+15 -3.07492672e+15  1.19041251e+15 -6.07057578e+14
 -6.07057578e+14  1.19041251e+15 -5.71721981e+01 -1.44748719e+01
 -3.73106782e+01 -7.10893432e+01 -5.31279681e+01 -5.55797125e+01
  1.19041251e+15 -6.07057578e+14  1.59298434e+15 -3.07492672e+15
 -3.07492672e+15 -3.07492672e+15 -3.07492672e+15  1.19041251e+15
  1.19041251e+15 -3.58269295e+01 -2.21404994e+01 -3.07492672e+15
  2.54045258e+01  1.59298434e+15 -6.07057578e+14 -2.34825155e+00
  1.89327419e+01 -9.69918136e+00 -6.82388657e+01 -3.07492672e+15
 -3.07492672e+15 -6.07057578e+14 -6.07057578e+14  1.59298434e+15
 -3.07492672e+15 -6.07057578e+14  1.59298434e+15  1.59298434e+15
 -3.07492672e+15  1.59298434e+15  4.72409436e+02  1.59298434e+15
  1.19041251e+15 -3.07492672e+15  1.59298434e+15  2.55795385e-13
  2.08099844e+01 -6.07057578e+14 -6.07057578e+14 -3.07492672e+15
 -3.07492672e+15  1.19041251e+15 -2.08740837e+01 -3.07492672e+15
  1.59298434e+15 -6.07057578e+14  1.59298434e+15  8.64021356e+00
  1.59298434e+15 -3.07492672e+15 -3.07492672e+15  1.19041251e+15
  1.59298434e+15 -6.07057578e+14  1.19041251e+15  1.01823948e+01
 -3.07492672e+15 -3.07492672e+15 -3.07492672e+15 -3.95014864e+01
  1.19041251e+15  1.19041251e+15  1.97906480e+01 -4.10274425e+01
  1.19041251e+15  1.19041251e+15 -2.40032000e+01 -6.07057578e+14
 -6.25734332e+00  1.19041251e+15 -3.07492672e+15 -2.38213560e+01
  1.19041251e+15  6.32712762e+01 -3.07492672e+15  1.59298434e+15
 -8.72037519e+00 -6.07057578e+14 -3.07492672e+15 -6.07057578e+14
  1.59298434e+15 -1.23349560e+01 -3.07492672e+15  1.59298434e+15
 -1.00493309e+02 -1.33296902e+02]
intercept: -62681.28048676883
R squared: -3.6690033329403882e+22
[120.22620445 227.96951323 333.96951323 195.97620445 195.71951323
 109.97620445 247.59451323  89.09451323  73.72620445  45.72620445]
9630      45
3794      85
16206    192
16899    120
12274    190
23433     79
20771    165
41065     99
42025     44
16440     65
Name: price, dtype: int64

array([120.22620445, 227.96951323, 333.96951323, ..., 278.21951323,
        48.35120445, 272.21951323])

In [137]:
print("\n\nRIDGE")
from sklearn.linear_model import Ridge
ridge = Ridge(alpha = 0.001, normalize=True)
ridge.fit(X_train, Price_train)
print("model:", ridge)
print("ridge coeffs:", ridge.coef_)
print("ridge intercept:", ridge.intercept_)
Price_predictions = ridge.predict(X_test)
print('Ridge R squared:', ridge.score(X_test, Price_test))
print(Price_predictions_regression[:10])
print(Price_test[:10])

RIDGE
model: Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=True, random_state=None, solver='auto', tol=0.001)
ridge coeffs: [ 8.82793222e-08 -2.21601215e+01 -8.45440590e+02 -2.54199420e-01
 -1.77531248e-01 -3.79613957e+00 -2.16848238e-01  1.96572209e-01
 -2.27205617e+01  1.15884879e+00  2.77588289e+00 -9.87716957e+01
 -2.21727784e+02 -7.43139946e+01  1.07871280e+02 -2.93309949e+01
 -1.22460485e+02  4.71761540e+01 -5.88267639e+01  9.14259494e+01
 -1.66478176e+02 -1.50530288e+01  1.55546348e+02  7.04600080e+01
 -1.46490241e+01  1.68956440e+02  1.13752169e+02 -1.22914948e+01
 -1.03245658e+02 -4.05931658e+01 -7.54292924e+00 -9.99148941e+01
  1.38304244e+02  5.76273818e+01 -6.87923939e+01 -4.53673706e+01
  1.31254137e+01 -1.71461057e+01 -1.67309850e+02 -5.56041464e+00
  1.08794194e+02 -1.70220559e+01 -2.58194596e+01 -3.55649299e+01
 -1.17187874e+02  2.76867068e+01 -4.03781165e+01  2.18546113e+02
 -2.76867990e+01 -3.76119998e+01  1.02646481e+01 -1.02087991e+02
  2.04425581e+01  2.49594531e+01  2.27290675e+01  4.39002675e+00
 -3.32343602e+01 -1.19940624e+02 -6.01599223e+01 -5.02765225e+01
 -7.73548795e+01 -1.82716448e+01 -2.48621560e+01  8.76358624e+00
  1.06920690e+01 -2.78065324e+01 -1.30869448e+02  9.04219649e+01
 -1.90909340e+01 -1.14139925e+02  2.38719533e+00 -2.79099181e+01
 -2.13793740e+01 -1.26815550e+01 -1.07727350e+01 -1.16547313e+01
  2.87129236e+01 -1.85754553e+01  2.83827485e+01 -9.09930686e+00
  0.00000000e+00 -1.34099072e+02  1.38174955e+02 -2.79644746e+01
 -1.33334649e+01 -5.05619415e+01  8.03405932e+01 -3.06163111e+01
  4.99940366e+01 -2.15897725e+01  4.67494496e+01 -2.17662122e+01
 -1.28822389e+02  5.34108259e+02  6.97537861e+01 -3.51280436e+01
 -2.66403040e+01  2.47903533e+00 -2.20605680e+02 -1.77679068e+02
 -7.55404931e+01 -1.68052422e+02  6.75264215e+00  3.83550050e+01
 -9.15797184e+01 -2.88174945e+01 -7.43331851e+00 -6.10008161e+01
  7.84926290e+01  9.48472353e+01  3.67265916e+00 -2.33737185e+02
 -2.44529712e+02 -4.15308960e+01 -4.38118903e+01 -1.40931074e+01
  6.26211860e+01  1.18658323e+02  5.77986350e+01 -5.93925138e+01
  2.09933966e+01  1.70766079e+01 -2.88528457e+01 -1.31974509e+01
  8.93789845e+01 -1.22562003e+02  2.62229956e+01  1.31603793e+02
 -3.19140471e+01 -2.68043569e+01 -2.03523763e+01 -6.41703622e+01
 -3.88334797e+01 -1.69403543e+02 -4.73929359e+01 -7.21001089e+01
 -2.86984260e+01 -1.45754847e+02  6.20229225e+01 -6.55933188e+01
 -4.93854180e+01 -4.00338950e+01 -5.01662311e+01 -7.97201631e+00
 -3.13195837e+01 -5.67955009e+01 -4.04428746e+01 -4.76008450e+01
 -2.11837220e+00 -3.64278400e+00  5.21187203e+01 -6.85881320e+01
 -1.95348575e+02 -1.33957315e+02 -1.46871798e+02  5.74550278e+01
  3.38660658e+01 -1.92961598e+01 -1.61258780e+01 -1.48206835e+02
  3.08001794e+01  2.82161073e+00 -1.01793455e+01  5.31493838e+00
  2.33847580e+01 -4.86930578e+00 -5.27537211e+01 -1.38410339e+02
 -2.22346806e+02  2.43811770e+01 -4.16953466e+01  7.35270634e+01
  1.62707253e+02 -7.53826496e+01  1.83765869e+00  2.47209131e+01
 -2.12338705e+02 -3.52204178e+01  4.82649616e+02  3.59355643e+01
 -1.49132402e+01 -9.87568683e+01  9.42238172e+01  0.00000000e+00
  2.86631856e+01  2.10264661e+02 -3.73748875e+01 -2.35115958e+01
 -1.05466644e+02  3.61763694e+01 -1.59912015e+01 -9.11065088e+01
  4.68487946e+01 -3.07186528e+01  8.78923109e+01  3.57737925e+01
  9.11869104e+01 -1.01713820e+02 -7.96304366e+01  6.95102894e+00
 -4.49461118e+01 -7.49925388e+01  3.30400538e+01  1.68203486e+01
  1.97338281e+02 -1.12263266e+02 -2.65256731e+02 -3.07139793e+01
  1.58939779e+02 -5.81986287e+01  2.25501247e+01 -3.36382022e+01
  7.35590554e-01  1.49887033e+01 -9.83558864e+00  6.27885028e+00
 -3.33464020e+00 -4.44891451e+01 -1.43293097e+02 -2.05030843e+01
  2.74747355e+01  6.43745801e+01 -1.66229508e+02  7.02297427e+01
 -1.08768803e+00  8.84579791e+00 -8.01063032e+01 -4.78976338e+01
 -1.66348741e+01 -7.88225564e+00  3.87521351e+02 -2.56910869e+01
 -9.98323453e+01 -1.32011120e+02]
ridge intercept: -61419.84858773972
Ridge R squared: 0.09725877830490881
[120.22620445 227.96951323 333.96951323 195.97620445 195.71951323
 109.97620445 247.59451323  89.09451323  73.72620445  45.72620445]
9630      45
3794      85
16206    192
16899    120
12274    190
23433     79
20771    165
41065     99
42025     44
16440     65
Name: price, dtype: int64

In [138]:
print("\n\nLASSO")
from sklearn.linear_model import Lasso
lasso = Lasso(alpha = 0.001, normalize=True)
lasso.fit(X_train, Price_train)
print(lasso)
print("Lasso coeffs:", lasso.coef_)
print("Lasso intercept:", lasso.intercept_)
Price_predictions = lasso.predict(X_test)
print('Lasso R squared:', lasso.score(X_test, Price_test))
print(Price_predictions[:10])
print(Price_test[:10])

LASSO
Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=True, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)
Lasso coeffs: [ 8.33795227e-08 -0.00000000e+00 -4.85060130e+02 -2.36174695e-01
 -1.76744017e-01 -3.63874399e+00 -1.98335404e-01  1.93665123e-01
 -0.00000000e+00  4.05928250e+01  4.97312772e+00 -1.16249805e+02
 -6.00983328e+01  2.03671082e+01  8.69353981e+01 -3.49765081e+00
 -7.42903079e+01  6.51663327e+01 -9.99412221e+00  4.84117570e+01
 -1.42419247e+01 -9.98047146e-01  1.19993030e+02  3.29340139e+01
 -1.23793388e+00  1.47510906e+02  5.97899012e+01  0.00000000e+00
 -6.41281658e+01 -2.59311584e+01  1.82794407e+01 -6.16757163e+01
  1.30671393e+02  4.00058353e+01 -4.09573369e+01 -3.05023288e+01
  4.20364698e+01 -7.71894155e+00 -1.06968721e+01  0.00000000e+00
  6.16642811e+01 -1.30564127e+01  4.63469615e+00 -2.13352821e+01
  0.00000000e+00  4.20042275e+01 -2.34149517e+01  1.84679972e+02
 -4.01831463e+00 -8.67761798e+00  5.53808702e+00  0.00000000e+00
  4.02768126e+01  0.00000000e+00  5.14240821e+01  0.00000000e+00
  0.00000000e+00 -5.08073651e+00 -2.69813047e+01 -1.84300389e+01
 -3.52215992e+01 -9.22848015e+00 -8.39540954e+00  0.00000000e+00
  3.40919442e+01 -4.68193010e+00 -5.44486975e+00  3.53716309e+01
  5.20215244e+00 -6.40305052e+01  9.03931680e+00 -1.24483078e+01
 -2.57545047e+01  0.00000000e+00 -1.42608343e+01 -0.00000000e+00
  8.54362202e+00 -1.37925656e+01  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00  9.99467695e+01 -0.00000000e+00
  3.97377208e+00 -2.77472390e+01  8.82122223e+01 -1.41045162e+01
  3.69436416e+01 -1.13384596e+00  4.27599337e+01  1.32598219e+00
 -7.59395375e+01  5.99638874e+02  4.09621943e+01 -1.42675048e+01
  1.37130452e+00  1.10679292e+01 -5.06507607e+01 -4.14729451e+01
 -4.25389333e+01 -2.38223562e+01  2.11658310e+01  5.23909625e+01
  4.19392229e+00 -3.19058964e+01  4.62715641e+00 -2.52320957e+01
  3.96219878e+01  3.18923857e+01  0.00000000e+00 -7.11465082e+01
 -8.01599366e+01 -1.79908209e+01 -5.45300041e+01 -5.50685797e-02
  3.92679499e+01  8.94679396e+01  1.99270512e+01 -2.96140670e+01
  7.09434486e+00  0.00000000e+00 -5.91319754e+00 -2.46738631e+00
  4.36104215e+01  0.00000000e+00  3.84563833e+01  7.23233846e+01
 -0.00000000e+00 -2.02432314e+00 -6.40334677e+00 -3.08317045e+01
 -4.68749437e+01 -2.18907345e+01 -2.51655502e+01 -3.11636876e+01
 -1.03716292e+01 -1.40520626e+01  6.85636936e+01 -4.02923938e+01
 -2.31992180e+01 -3.67700061e+01 -1.66441008e+01 -0.00000000e+00
 -1.17171185e+00 -2.57352025e+01 -2.57937710e+00 -1.81654782e+01
  2.93193609e+00  9.98460261e+00  2.50102123e+01  2.10242425e+01
 -4.16343484e+01 -0.00000000e+00 -0.00000000e+00  6.72258414e+01
  4.64770537e+01 -0.00000000e+00 -0.00000000e+00 -1.20902085e+01
  1.52735226e+01  0.00000000e+00  1.50238806e+01  2.58228889e+00
  7.26122321e+00 -9.58754197e-01 -1.89979079e+01 -0.00000000e+00
 -4.31582278e+01  4.51509353e+01 -2.09704580e+01  3.10664857e+01
  2.74093830e+02 -3.27693866e+01  2.26149035e+00  1.41885414e+01
 -5.59604132e+01 -1.24427399e+01  4.92201792e+02  2.09816321e+01
 -1.27276856e+01  0.00000000e+00  4.90040200e+01  0.00000000e+00
  1.26133941e+01  2.33924834e+02 -1.47200480e+01  6.34227283e+01
  0.00000000e+00  5.17853837e+01 -0.00000000e+00  3.93321477e+00
  2.64814848e+01 -0.00000000e+00  5.36945174e+01  3.24760076e+01
  5.61574487e+01  0.00000000e+00  1.73195095e+01  9.80640253e+00
 -1.76329916e+01 -3.65116481e+01  4.08624525e+01  0.00000000e+00
  2.75895306e+02 -0.00000000e+00 -8.34693166e+01 -2.70930558e+00
  1.74912796e+02 -3.74906602e+01  8.89575371e+00 -2.72589753e+00
  0.00000000e+00  1.99742289e+01 -0.00000000e+00  2.78002857e+01
 -0.00000000e+00 -5.10759648e+01 -1.59966243e+01 -0.00000000e+00
  4.39997707e+01  4.97605525e+01 -1.70812683e+01  4.57881865e+01
  0.00000000e+00  2.46497835e+01  1.08704114e+01 -1.76811226e+01
 -7.61623768e+00 -0.00000000e+00  5.02669019e+02 -4.44160553e+00
 -1.00028102e+02 -1.31404259e+02]
Lasso intercept: -35710.18011298453
Lasso R squared: 0.09759776923707542
[121.04702697 230.16466751 328.5430984  195.8217324  194.82959605
 111.00296658 244.587214    99.09928177  75.91504644  48.39594853]
9630      45
3794      85
16206    192
16899    120
12274    190
23433     79
20771    165
41065     99
42025     44
16440     65
Name: price, dtype: int64

In [139]:
from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

clf_tree = tree.DecisionTreeClassifier(criterion="entropy", max_depth=5)
clf_tree.fit(X_train, Price_train)
print(clf_tree)
tree_predictions = clf_tree.predict(X_test)
print(confusion_matrix(Price_test, tree_predictions))
print("f1:", f1_score(Price_test, tree_predictions, average=None))
print("f1:", f1_score(Price_test, tree_predictions, average='micro'))

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
f1: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.09090909
 0.         0.07462687 0.         0.         0.         0.
 0.10666667 0.         0.         0.         0.         0.
 0.         0.1025641  0.         0.         0.05235602 0.
 0.         0.13675214 0.         0.16212565 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.08333333 0.         0.         0.         0.
 0.04255319 0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.02898551 0.
 0.         0.         0.         0.03558719 0.         0.
 0.         0.         0.02484472 0.         0.         0.
 0.         0.01492537 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.13037634
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.12010829 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.10842587 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.09248555 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.19730942
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.        ]
f1: 0.0770070254416479

C:\Users\Prabhjyot\Anaconda3\Anaconda4\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [85]:
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier(n_estimators=50, criterion='entropy')
clf_rf.fit(X_train, Price_train)
print(clf_rf)
rf_predictions = clf_rf.predict(X_test)
print(confusion_matrix(Price_test, rf_predictions))
print("f1:", f1_score(Price_test, rf_predictions, average='micro'))

MemoryError: could not allocate 321912832 bytes

In [140]:
##### KNN #####

from sklearn.neighbors import KNeighborsClassifier

clf_knn = KNeighborsClassifier(n_neighbors=3)
clf_knn.fit(X_train, Price_train)
print(clf_knn)
#knn_predictions_train = clf_knn.predict(Features_train)
knn_predictions_test = clf_knn.predict(X_test)
#print("Training CM:")
#print(confusion_matrix(Quality_train, knn_predictions_train))
#print("Training f1:", f1_score(Quality_train, knn_predictions_train, average=None))
print("Testing CM:")
print(confusion_matrix(Price_test, knn_predictions_test))
print("Testing f1:", f1_score(Price_test, knn_predictions_test, average='micro'))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')
Testing CM:
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Testing f1: 0.057499488438714955

In [141]:
#### NAIVE BAYES #####

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, Price_train)
print(gnb)
gnb_predictions = gnb.predict(X_test)
print(confusion_matrix(Price_test, gnb_predictions))
print("Testing f1:", f1_score(Price_test, gnb_predictions, average="micro"))

GaussianNB(priors=None, var_smoothing=1e-09)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Testing f1: 0.04228906623013437