In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [120]:
df = pd.read_csv("AB_NYC_2019.csv")
print(df.shape)
print(df.info())

(48895, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
id                                48895 non-null int64
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

In [121]:
# Hence, we see that there are 16 columns and 48895 rows
# Missing values are there in columns: name, host_name, last_review, reviews_per_month. 
# ID, name and host_name column has no affect on Price. Hence can be removed
df1 = df.drop(['id', 'name', 'host_name'],axis=1)
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 13 columns):
host_id                           48895 non-null int64
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(6), object(4)
memory usage: 4.8+ MB
None

In [122]:
# now we have null values in last_review and reviews_per_month
df1.isnull().sum()

host_id                               0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [123]:
# number of null values in last_review and reviews_per_months is same. hence there seems to be a relation. However, we cannot imput 
# last_review but we can for reviews_per_month
df1.head(10)

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,7322,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,7356,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,8967,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,7490,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,7549,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

In [124]:
df1.loc[df1['reviews_per_month'].isnull(),'reviews_per_month']=0
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 13 columns):
host_id                           48895 non-null int64
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 48895 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(6), object(4)
memory usage: 4.8+ MB

In [125]:
# remove last_review as we have dealt with reviews_per_month by imputing missing values with 0
df1 = df1.drop(['last_review','latitude' , 'longitude','number_of_reviews','reviews_per_month','neighbourhood'],axis = 1)
df1.head()

,host_id,neighbourhood_group,room_type,price,minimum_nights,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Private room,149,1,6,365
1,2845,Manhattan,Entire home/apt,225,1,2,355
2,4632,Manhattan,Private room,150,3,1,365
3,4869,Brooklyn,Entire home/apt,89,1,1,194
4,7192,Manhattan,Entire home/apt,80,10,1,0

In [126]:
# analyse the statistics of price group by neighbourhood. we observe there is minimum price as 0
df1.groupby('neighbourhood_group')['price'].describe()

,count,mean,std,min,25%,50%,75%,max
neighbourhood_group,,,,,,,,
Bronx,1091.0,87.496792,106.709349,0.0,45.0,65.0,99.0,2500.0
Brooklyn,20104.0,124.383207,186.873538,0.0,60.0,90.0,150.0,10000.0
Manhattan,21661.0,196.875814,291.383183,0.0,95.0,150.0,220.0,10000.0
Queens,5666.0,99.517649,167.102155,10.0,50.0,75.0,110.0,10000.0
Staten Island,373.0,114.812332,277.620403,13.0,50.0,75.0,110.0,5000.0

In [127]:
# analyse the statistics of minimum nights group by neighbourhood
df1.groupby('neighbourhood_group')['minimum_nights'].describe()

                       count      mean        std  min  25%  50%  75%     max
neighbourhood_group
Bronx                 1091.0  4.560953  15.631792  1.0  1.0  2.0  3.0   365.0
Brooklyn             20104.0  6.056556  17.632726  1.0  2.0  3.0  5.0   999.0
Manhattan            21661.0  8.579151  24.050857  1.0  1.0  3.0  6.0  1250.0
Queens                5666.0  5.181433  15.028725  1.0  1.0  2.0  3.0   500.0
Staten Island          373.0  4.831099  19.727605  1.0  1.0  2.0  3.0   365.0

In [128]:
# As price cannot be 0 and minimum nights cannot be more than 365; hence we remove these rows
df1 = df1[df1['price']>0]
df1 = df1[df1['minimum_nights']<=365]
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48870 entries, 0 to 48894
Data columns (total 7 columns):
host_id                           48870 non-null int64
neighbourhood_group               48870 non-null object
room_type                         48870 non-null object
price                             48870 non-null int64
minimum_nights                    48870 non-null int64
calculated_host_listings_count    48870 non-null int64
availability_365                  48870 non-null int64
dtypes: int64(5), object(2)
memory usage: 3.0+ MB

,host_id,neighbourhood_group,room_type,price,minimum_nights,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Private room,149,1,6,365
1,2845,Manhattan,Entire home/apt,225,1,2,355
2,4632,Manhattan,Private room,150,3,1,365
3,4869,Brooklyn,Entire home/apt,89,1,1,194
4,7192,Manhattan,Entire home/apt,80,10,1,0

In [129]:
# analyse the statistics of availability_365 as per neighbourhood
df1.groupby('neighbourhood_group')['availability_365'].describe()

,count,mean,std,min,25%,50%,75%,max
neighbourhood_group,,,,,,,,
Bronx,1090.0,165.794495,135.304079,0.0,37.0,148.0,313.75,365.0
Brooklyn,20089.0,100.159739,126.243695,0.0,0.0,28.0,188.00,365.0
Manhattan,21654.0,111.929667,132.641048,0.0,0.0,36.0,230.00,365.0
Queens,5664.0,144.422493,135.528910,0.0,2.0,98.0,286.00,365.0
Staten Island,373.0,199.678284,131.852000,0.0,78.0,219.0,333.00,365.0

In [130]:
# now data is ready for prediction. Calculate pairwise correlation matrix to see how 
#different variables are related to price
corr = df1.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

In [131]:
# one hot encoding for categorical variables using get dummies
df1 = pd.get_dummies(df1,prefix_sep='_', drop_first=True)
df1.head()

,host_id,price,minimum_nights,calculated_host_listings_count,availability_365,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Private room,room_type_Shared room
0,2787,149,1,6,365,1,0,0,0,1,0
1,2845,225,1,2,355,0,1,0,0,0,0
2,4632,150,3,1,365,0,1,0,0,1,0
3,4869,89,1,1,194,1,0,0,0,0,0
4,7192,80,10,1,0,0,1,0,0,0,0

In [132]:
# VIF calculation
# pd.DataFrame(np.linalg.inv(df1.corr().values), index = corr.index, columns=corr.columns)

pd.DataFrame(np.linalg.inv(corr.values), index = corr.index, columns=corr.columns)

,host_id,price,minimum_nights,calculated_host_listings_count,availability_365
host_id,1.062327,0.003641,0.074199,-0.131834,-0.199056
price,0.003641,1.009692,-0.036715,-0.037068,-0.068998
minimum_nights,0.074199,-0.036715,1.051866,-0.144848,-0.152445
calculated_host_listings_count,-0.131834,-0.037068,-0.144848,1.089397,-0.192347
availability_365,-0.199056,-0.068998,-0.152445,-0.192347,1.114710

In [133]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X = df1.drop('price', axis=1)
print(X.head())

Price = df1['price']
#Features_train, Features_test, Price_train, Price_test = train_test_split(Features, Price, test_size=0.30, random_state=42)
X_train, X_test, Price_train, Price_test = train_test_split(X, Price, test_size=0.3, random_state=42)

   host_id  minimum_nights  calculated_host_listings_count  availability_365  \
0     2787               1                               6               365
1     2845               1                               2               355
2     4632               3                               1               365
3     4869               1                               1               194
4     7192              10                               1                 0

   neighbourhood_group_Brooklyn  neighbourhood_group_Manhattan  \
0                             1                              0
1                             0                              1
2                             0                              1
3                             1                              0
4                             0                              1

   neighbourhood_group_Queens  neighbourhood_group_Staten Island  \
0                           0                                  0
1                           0                                  0
2                           0                                  0
3                           0                                  0
4                           0                                  0

   room_type_Private room  room_type_Shared room
0                       1                      0
1                       0                      0
2                       1                      0
3                       0                      0
4                       0                      0

In [134]:
print("X", X.shape)
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)

X (48870, 10)
X_train: (34209, 10)
X_test: (14661, 10)

In [135]:
from sklearn.linear_model import LinearRegression

print("\nLINEAR (subset)")
rgr = LinearRegression(normalize=True)
rgr.fit(X_train, Price_train)
print("model:", rgr)
print("coeffs:", rgr.coef_)
print("intercept:", rgr.intercept_)

#Evaluate the predictions of the model
Price_predictions_regression = rgr.predict(X_test)
print('R squared:', rgr.score(X_test, Price_test))
print(Price_predictions_regression[:10])
print(Price_test[:10])

Price_predictions_regression

LINEAR (subset)
model: LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)
coeffs: [ 7.43286148e-08 -6.86228986e-02 -7.82063170e-02  1.66848499e-01
  3.63716237e+01  9.01283328e+01  1.03842922e+01  6.89954215e+00
 -1.12173581e+02 -1.44025576e+02]
intercept: 127.75135455687848
R squared: 0.07456736718523937
[105.67043297 218.32571631 266.41993338 166.79496969 265.6278179
 158.83487932 222.6720362  167.83606017 121.9018111  110.98039913]
9630      45
3794      85
16206    192
16899    120
12274    190
23433     79
20771    165
41065     99
42025     44
16440     65
Name: price, dtype: int64

array([105.67043297, 218.32571631, 266.41993338, ..., 257.56854294,
        75.44034537, 219.02369683])

In [136]:
print("\n\nRIDGE")
from sklearn.linear_model import Ridge
ridge = Ridge(alpha = 0.001, normalize=True)
ridge.fit(X_train, Price_train)
print("model:", ridge)
print("ridge coeffs:", ridge.coef_)
print("ridge intercept:", ridge.intercept_)
Price_predictions = ridge.predict(X_test)
print('Ridge R squared:', ridge.score(X_test, Price_test))
print(Price_predictions_regression[:10])
print(Price_test[:10])

RIDGE
model: Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=True, random_state=None, solver='auto', tol=0.001)
ridge coeffs: [ 7.40325630e-08 -6.78087168e-02 -7.74171651e-02  1.66534710e-01
  3.49305023e+01  8.86697827e+01  8.96808298e+00  5.51731234e+00
 -1.12064865e+02 -1.43843277e+02]
ridge intercept: 129.1548698546561
Ridge R squared: 0.0745694760986475
[105.67043297 218.32571631 266.41993338 166.79496969 265.6278179
 158.83487932 222.6720362  167.83606017 121.9018111  110.98039913]
9630      45
3794      85
16206    192
16899    120
12274    190
23433     79
20771    165
41065     99
42025     44
16440     65
Name: price, dtype: int64

In [137]:
print("\n\nLASSO")
from sklearn.linear_model import Lasso
lasso = Lasso(alpha = 0.001, normalize=True)
lasso.fit(X_train, Price_train)
print(lasso)
print("Lasso coeffs:", lasso.coef_)
print("Lasso intercept:", lasso.intercept_)
Price_predictions = lasso.predict(X_test)
print('Lasso R squared:', lasso.score(X_test, Price_test))
print(Price_predictions[:10])
print(Price_test[:10])

LASSO
Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=True, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)
Lasso coeffs: [ 7.03826053e-08 -5.42669458e-02 -6.79141444e-02  1.64088822e-01
  2.60007078e+01  7.97673279e+01  0.00000000e+00 -6.68218924e-01
 -1.11715906e+02 -1.42570760e+02]
Lasso intercept: 138.02692973504307
Lasso R squared: 0.07459532135764924
[106.37209755 218.27631205 266.6499198  166.14853333 264.7593449
 158.02866392 221.37273957 167.69312465 121.57036728 111.10020465]
9630      45
3794      85
16206    192
16899    120
12274    190
23433     79
20771    165
41065     99
42025     44
16440     65
Name: price, dtype: int64

In [138]:
from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

clf_tree = tree.DecisionTreeClassifier(criterion="entropy", max_depth=5)
clf_tree.fit(X_train, Price_train)
print(clf_tree)
tree_predictions = clf_tree.predict(X_test)
print(confusion_matrix(Price_test, tree_predictions))
print("f1:", f1_score(Price_test, tree_predictions, average=None))
print("f1:", f1_score(Price_test, tree_predictions, average='micro'))

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
f1: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.09090909
 0.         0.04137931 0.         0.         0.         0.
 0.11382114 0.         0.         0.         0.032      0.
 0.         0.14285714 0.         0.         0.01863354 0.
 0.         0.         0.         0.15763547 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.07627119 0.         0.         0.         0.
 0.06094183 0.         0.         0.         0.02797203 0.
 0.         0.         0.         0.         0.03225806 0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.02898551 0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.11330622
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.12656904 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.06788512 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.09195402 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.18032787
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.        ]
f1: 0.07134574722051702

C:\Users\Prabhjyot\Anaconda3\Anaconda4\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [139]:
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier(n_estimators=50, criterion='entropy')
clf_rf.fit(X_train, Price_train)
print(clf_rf)
rf_predictions = clf_rf.predict(X_test)
print(confusion_matrix(Price_test, rf_predictions))
print("f1:", f1_score(Price_test, rf_predictions, average='micro'))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
f1: 0.06779892231089285

In [140]:
##### KNN #####

from sklearn.neighbors import KNeighborsClassifier

clf_knn = KNeighborsClassifier(n_neighbors=3)
clf_knn.fit(X_train, Price_train)
print(clf_knn)
#knn_predictions_train = clf_knn.predict(Features_train)
knn_predictions_test = clf_knn.predict(X_test)
#print("Training CM:")
#print(confusion_matrix(Quality_train, knn_predictions_train))
#print("Training f1:", f1_score(Quality_train, knn_predictions_train, average=None))
print("Testing CM:")
print(confusion_matrix(Price_test, knn_predictions_test))
print("Testing f1:", f1_score(Price_test, knn_predictions_test, average='micro'))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')
Testing CM:
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Testing f1: 0.056612782211308915

In [141]:
#### NAIVE BAYES #####

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, Price_train)
print(gnb)
gnb_predictions = gnb.predict(X_test)
print(confusion_matrix(Price_test, gnb_predictions))
print("Testing f1:", f1_score(Price_test, gnb_predictions, average="micro"))

GaussianNB(priors=None, var_smoothing=1e-09)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Testing f1: 0.04228906623013437